absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
ansicon==1.89.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
Babel==2.14.0
beautifulsoup4==4.12.2
bleach==6.0.0
blis==0.7.9
bokeh==2.4.3
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
chatterbot-corpus==1.2.0
click==8.1.3
colorama==0.4.6
comm==0.2.2
comtypes==1.1.14
confection==0.0.4
console==0.9907
cssselect==1.2.0
cymem==2.0.7
debugpy==1.8.1
decorator==5.1.1
deepface==0.0.79
defusedxml==0.7.1
distlib==0.3.8
Django==5.0.6
djangorestframework==3.15.2
docopt==0.6.2
exceptiongroup==1.1.1
executing==2.0.1
ezenv==0.92
fastjsonschema==2.19.1
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.14.0
fire==0.5.0
Flask==2.2.3
flatbuffers==23.3.3
fqdn==1.5.1
frozenlist==1.3.3
gast==0.4.0
gdown==4.7.1
glob2==0.7
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googletrans==3.0.0
grpcio==1.54.0
gTTS==2.3.1
gunicorn==20.1.0
h11==0.14.0
h2==3.2.0
h5py==3.8.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==1.0.5
httpx==0.27.0
hyperframe==5.2.0
idna==2.10
ipykernel==6.29.4
ipython==8.23.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.19.1
jieba3k==0.35.1
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.2.0
Js2Py==0.74
json5==0.9.24
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
keras==2.12.0
langcodes==3.3.0
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mistune==3.0.2
ml-dtypes==0.1.0
MouseInfo==0.1.3
mtcnn==0.1.1
multidict==6.0.4
murmurhash==1.0.9
mysqlclient==2.2.4
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
newspaper3k==0.2.8
nltk==3.8.1
notebook==7.1.2
notebook_shim==0.2.4
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.4
opencv-python==4.7.0.72
opt-einsum==3.3.0
outcome==1.2.0
overrides==7.7.0
packaging==23.0
pandas==2.0.0
pandocfilters==1.5.1
panel==0.14.4
param==1.13.0
parso==0.8.4
pathy==0.10.1
Pillow==9.5.0
pipwin==0.5.2
platformdirs==4.2.0
playsound==1.3.0
preshed==3.0.8
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.22.3
psutil==5.9.8
psycopg==3.2.1
psycopg2-binary==2.9.9
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.7
PyGetWindow==0.0.9
Pygments==2.17.2
pyjsparser==2.7.1
PyMsgBox==1.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyPrind==2.11.3
PyRect==0.2.0
PyScreeze==0.1.28
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-json-logger==2.0.7
pyttsx3==2.90
pytube==12.1.3
pytweening==1.0.4
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
pywhatkit==5.4
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
qrcode==7.4.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.34.0
regex==2023.3.23
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
retina-face==0.0.13
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rpds-py==0.18.0
rsa==4.9
scipy==1.10.1
selenium==4.9.0
Send2Trash==1.8.3
sgmllib3k==1.0.0
six==1.16.0
sketchpy==0.1.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.10.0
sqlparse==0.5.0
srsly==2.4.6
stack-data==0.6.3
svg.path==6.2
svgpathtools==1.6.0
svgwrite==1.4.3
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.18.1
thinc==8.1.9
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==3.4.0
tornado==6.3.1
tqdm==4.65.0
traitlets==5.14.2
trio==0.22.0
trio-websocket==0.10.2
turtle==0.0.1
typer==0.7.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
undetected-chromedriver==3.4.6
uri-template==1.3.0
urllib3==1.26.15
virtualenv==20.26.2
wasabi==1.1.1
wcwidth==0.2.13
webcolors==1.13
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.2
Werkzeug==2.2.3
widgetsnbextension==4.0.10
wikipedia==1.4.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.8.2